---
const personalImageAlt = "Rodrigo Fernández";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Rodrigo Fernández, empecé en la programación hace ya 3 años, creando módulos en odoo, y hace 2 años me interesó el mundo del desarrollo web y app.
    </p>

    <p>
      Actualmente, manejo tecnologías clave como HTML, CSS y JavaScript. Así como Freshworks modernos como React. También estoy. Familiarizado con herramientas esenciales para el desarrollo como: Git, GitHub, NPM y Astro. Además, tengo un buen entendimiento de la Arquitectura CSS, lo que me permite crear estilos limpios. Eficientes.
    </p>

    <p>
      Siempre estoy en busca de aprender y dominar nuevas tecnologías que me permitan mejorar mis habilidades y aportar valor a los proyectos en los que participo. Estoy emocionado por las oportunidades que el desarrollo Front-End ofrece y comprometido a crecer y destacarme en este campo.
    </p>
  </div>

  <!--  
  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
  -->
</article>
