---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  /* aca va mi experiencia (1)*/
]
---
<h3>No tengo experiencia Laboral, pero sí en la construcción de proyectos.</h3>
<!-- aca va el dos -->
