---
const personalImageAlt = "Miguel Ángel";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div
  id="inicio"
  class="flex flex-col md:flex-row justify-between items-start md:items-center mb-4"
>
  <div class="flex flex-col gap-4">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Hola, soy Rodrigo Fernández
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      +2 años de como. <strong>Front-End Developer</strong> de Entre rios, Argentina.
      creación de páginas web, escalables, modernas, responsive desing, estilos UX/UI.
    </p>
    <div class="flex justify-center md:justift-end mt-4 md:mt-0 flex-shrink-0">
      <img
        class="rounded-full shadow-lg size-40"
        src="/rodrigofernandez.webp"
        alt={personalImageAlt}
      />
    </div>
    <nav class="flex justify-center flex-wrap gap-4 mt-2">
      <SocialPill href="mailto:rodrigoo1.fernandez@gmail.com">
        <MailIcon class="size-4" />
        Contáctame
      </SocialPill>
      <SocialPill href="https://www.linkedin.com/in/rodrigofernandez-/">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>
</div>
